body {
    margin: 0;
    background-image: url(img_food/fon_1.jpg);
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
}

/*  HEADER  */

.header {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}

.header h1 {
    text-align: center;
    letter-spacing: 6px;
    font-size: 28px;
    margin: 0;
}

.header h2 {
    text-align: center;
    font-size: 14px;
    letter-spacing: 4px;
    color: #aaa;
    margin: 20px 0 30px 0;
}

.header h5 {
    margin: 0;
}

.perenos {
    color: #6c8cff;
    text-decoration: underline;
}

/*  GRID */


.container {
    width: 75%;
    margin: 0 auto 60px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* карточки */

.card {
    height: 180px;
    border: 1px solid #666;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.2s ease;
    background-color: rgba(128, 128, 128, 0.221);
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

/* INFO BLOCKS */

.information {
    grid-column: 1 / -1;
    padding: 30px;
    border: 1px solid #666;
    border-radius: 20px;
    background: rgba(255,255,255,0.04);
}

.information h3 {
    margin-top: 0;
}

.information p {
    line-height: 1.6;
    color: #ddd;
}

/* ================= MOBILE ================= */

@media (max-width: 900px) {

    .header,
    .container {
        width: 92%;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .card {
        height: 120px;
        font-size: 16px;
    }

    .information {
        padding: 20px;
    }

    .header h1 {
        font-size: 20px;
        letter-spacing: 3px;
    }

    .header h2 {
        font-size: 12px;
        letter-spacing: 2px;
    }
}